<mat-card>
  <mat-card-title>
    Detalle de pedido
  </mat-card-title>

  <mat-card-content>
    <mat-grid-list cols="6">
      <mat-grid-tile [colspan]="2" [rowspan]="3">
        <mat-vertical-stepper [linear]=true #stepper>

          <mat-step label="Envío" [stepControl]="regiForm">

            <form [formGroup]="regiForm" (ngSubmit)="onFormSubmit(regiForm.value)">
              <table>
                <tr>
                  <td>
                    <mat-form-field class="demo-full-width">
              <textarea formControlName="Direccion" matInput placeholder="Dirección de envío" matTextareaAutosize
                        matAutosizeMinRows="2" matAutosizeMaxRows="5">
              </textarea>
                    </mat-form-field>
                    <mat-icon color="primary">place</mat-icon>

                    <mat-error>
                        <span color="warm"
                              *ngIf="!regiForm.get('Direccion').valid && regiForm.get('Direccion').touched">Por favor, ingresá la dirección</span>
                    </mat-error>
                  </td>
                <tr>
                  <td>
                    <mat-slide-toggle formControlName="EsFechaEspecifica" (change)="FechaHoraEspecifica($event)">Fecha y
                      hora
                      específica
                    </mat-slide-toggle>
                  </td>
                </tr>
                <tr><br></tr>
                <form [formGroup]="fechaHoraForm" >

                <tr *ngIf="EsFechaEspecifica == 1">
                  <td colspan="2">
                    <mat-form-field class="demo-full-width">

                      <input formControlName="FechaEntrega" matInput [matDatepicker]="picker"
                             placeholder="Fecha de entrega">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker touchUi="true" #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-error>
                      <span *ngIf="!fechaHoraForm.get('FechaEntrega').valid && fechaHoraForm.get('FechaEntrega').touched">Por favor, seleccioná una fecha</span>
                    </mat-error>
                  </td>
                </tr>
                <tr><br></tr>
                <tr *ngIf="EsFechaEspecifica == 1">
                  <td colspan="2">

                    <mat-form-field>

                      <input matInput formControlName="HoraEntrega" placeholder="Hora" type="time" id="appt-time"
                             name="appt-time"
                             min="08:00" max="20:00" required/>
                    </mat-form-field>
                    <mat-error>
                      <span *ngIf="!fechaHoraForm.get('HoraEntrega').valid && fechaHoraForm.get('HoraEntrega').touched">Por favor, seleccioná una hora</span>
                    </mat-error>
                  </td>
                  <!--Este min y max no funciona, pero ese sería el horario de casseratto-->
                </tr>
                <tr><br></tr>
                </form>
              </table>
            </form>
            <button mat-raised-button matStepperNext
                    [disabled]="!regiForm.get('Direccion').valid || EsFechaEspecifica==1 && (!fechaHoraForm.get('FechaEntrega').valid || !fechaHoraForm.get('HoraEntrega').valid)">
              Siguiente
            </button>
          </mat-step>


          <mat-step label="Pago" [stepControl]="pagosForm">
            <form [formGroup]="pagosForm" (ngSubmit)="onFormSubmit(pagosForm.value)">
              <table>
                <tr>
                  <td>
                    <mat-form-field>
                      <mat-select formControlName="FormaPago" placeholder="Forma de pago" [(ngModel)]="FormaPago"
                                  (valueChange)="iniciarValidadoresTarjeta($event)">
                        <mat-option>-- Seleccionar --</mat-option>
                        <mat-option value="usaEfectivo">Efectivo</mat-option>
                        <mat-option value="usaTarjeta">Tarjeta de crédito</mat-option>
                      </mat-select>
                      <mat-hint>Tarjetas únicamente VISA</mat-hint>
                      <mat-error>
                <span
                  *ngIf="!pagosForm.get('FormaPago').valid && pagosForm.get('FormaPago').touched">Por favor, seleccioná una forma de pago.</span>
                      </mat-error>
                    </mat-form-field>
                  </td>
                </tr>
                <tr><br></tr>
                <tr *ngIf="pagosForm.get('FormaPago').value=='usaEfectivo'">
                  <mat-form-field class="demo-full-width">
                    <input formControlName="PagoCon" matInput placeholder="¿Con cuánto vas a pagar?" type="number"
                           required>
                  </mat-form-field>
                  <mat-icon color="primary">attach_money</mat-icon>

                  <mat-error>
                    <span *ngIf="!pagosForm.get('PagoCon').valid && pagosForm.get('PagoCon').touched">Por favor, ingresá la cantidad con la que vas a abonar</span>
                  </mat-error>
                  <!--</td>-->
                </tr>
                <form [formGroup]="cardForm">
                  <tr *ngIf="pagosForm.get('FormaPago').value=='usaTarjeta'">

                    <mat-form-field class="demo-full-width">

                      <input matInput formControlName="NumeroTarjeta" placeholder="Número de tarjeta"
                             autocomplete="cc-number"
                             id="cc-number" ccNum>

                    </mat-form-field>
                    <mat-icon color="primary">credit_card</mat-icon>

                    <mat-error>
                      <span *ngIf="!cardForm.get('NumeroTarjeta').valid && cardForm.get('NumeroTarjeta').touched">Por favor, ingresá el número de tu tarjeta VISA</span>
                    </mat-error>
                    <!--</td>-->
                  </tr>
                  <tr *ngIf="pagosForm.get('FormaPago').value=='usaTarjeta'">
                    <!--<td colspan="2">-->
                    <mat-form-field class="demo-full-width">

                      <input matInput formControlName="NombreTarjeta" placeholder="Nombre del titular"
                             autocomplete="cc-number">

                    </mat-form-field>
                    <mat-icon color="primary">perm_identity</mat-icon>

                    <mat-error>
                      <span *ngIf="!cardForm.get('NombreTarjeta').valid && cardForm.get('NombreTarjeta').touched">Por favor, ingresá el nombre como figura en la tarjeta</span>
                    </mat-error>
                  </tr>
                  <tr *ngIf="pagosForm.get('FormaPago').value=='usaTarjeta'">

                    <mat-form-field class="demo-full-width">

                      <input matInput type="tel" formControlName="FechaExp" placeholder="MM/YY" autocomplete="cc-exp"
                             id="cc-exp"
                             ccExp>

                    </mat-form-field>
                    <mat-icon color="primary">insert_invitation</mat-icon>

                    <mat-error>
                      <span *ngIf="!cardForm.get('FechaExp').valid && cardForm.get('FechaExp').touched">Por favor, ingresá la fecha de expiración de tu tarjeta</span>
                    </mat-error>
                    <!--</td>-->
                  </tr>
                  <tr *ngIf="pagosForm.get('FormaPago').value=='usaTarjeta'">
                    <!--<td colspan="2">-->
                    <mat-form-field class="demo-full-width">

                      <input matInput formControlName="CodigoSeg" placeholder="Clave de seguridad" autocomplete="cc-cvc"
                             id="cc-csc" ccCvc>

                    </mat-form-field>
                    <mat-icon color="primary">lock_open</mat-icon>

                    <mat-error>
                      <span *ngIf="!cardForm.get('CodigoSeg').valid && cardForm.get('CodigoSeg').touched">Por favor, ingresá el código de seguridad de tu tarjeta</span>
                    </mat-error>
                    <!--</td>-->
                  </tr>
                  <td colspan="2" class="content-center">
                    <button mat-raised-button color="accent"
                            [disabled]="!((cardForm.valid && FormaPago==='usaTarjeta') || (pagosForm.get('PagoCon').valid && FormaPago==='usaEfectivo'))"
                            matStepperNext>
                      Siguiente
                    </button>
                  </td>

                </form>

              </table>
              <!--</form>-->
              <!--<mat-icon class="material-confirmation-icon">check_circle</mat-icon>-->
            </form>
          </mat-step>

          <mat-step label="Confirmación">
            <form [formGroup]="confirmationForm" (ngSubmit)="onFormSubmit(regiForm.value)">
              <table>
                <tr>
                  <td colspan="2">
                    <mat-slide-toggle formControlName="stepConfirmacionCtrl" (change)="OnChanges($event)" required>
                      Aceptar términos y
                      condiciones
                    </mat-slide-toggle>
                  </td>
                </tr>
                <tr><br></tr>
                <tr>
                  <b>Envío</b>
                </tr>
                <tr><i>Dirección: </i>{{regiForm.get('Direccion').value}}</tr>
                <tr *ngIf="EsFechaEspecifica == 1">
                  <i>Fecha: </i>{{fechaHoraForm.get('FechaEntrega').value | date:'MM/dd/yyyy'}}
                  <br><i>Hora: </i>{{fechaHoraForm.get('HoraEntrega').value}}<br>
                </tr>
                <tr><br></tr>
                <tr><b>Pago</b></tr>
                <tr><i>Forma de pago: </i>
                  <span *ngIf="pagosForm.get('FormaPago').value == 'usaEfectivo'">Efectivo<br>
                  <i>Abona con: </i>${{pagosForm.get('PagoCon').value}}
                  </span>
                  <span *ngIf="pagosForm.get('FormaPago').value == 'usaTarjeta'">Tarjeta de crédito</span>
                </tr>
                <tr><br></tr>

                <tr>
                  <td colspan="2" class="content-center">
                    <button mat-raised-button color="accent"
                            (click)="openSnackBar()"
                            [disabled]="!regiForm.valid || (!cardForm.valid && FormaPago==='usaTarjeta') || IsAccepted==0"
                            matStepperNext>
                      Confirmar Pedido
                    </button>



                  </td>
                </tr>
                <tr>
                </tr>
              </table>
            </form>


          </mat-step>

        </mat-vertical-stepper>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="4" [rowspan]="2">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Caseratto</mat-card-title>
            <mat-card-subtitle>Helados</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <table mat-table [dataSource]="transactions" class="mat-elevation-z8">
              <!-- Item Column -->
              <ng-container matColumnDef="item">
                <th mat-header-cell *matHeaderCellDef> Producto</th>
                <td mat-cell *matCellDef="let transaction"> {{transaction.item}}</td>
                <td mat-footer-cell *matFooterCellDef> Total</td>
              </ng-container>

              <!-- Cost Column -->
              <ng-container matColumnDef="cost">
                <th mat-header-cell *matHeaderCellDef> Precio</th>
                <td mat-cell *matCellDef="let transaction"> {{transaction.cost | currency}}</td>
                <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}}</td>
              </ng-container>

              <ng-container matColumnDef="notas">
                <th mat-header-cell *matHeaderCellDef> Notas</th>
                <td mat-cell *matCellDef="let transaction"> {{transaction.notas | currency}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
            </table>
          </mat-card-content>

        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="6" [rowspan]="1">
      </mat-grid-tile>

    </mat-grid-list>
  </mat-card-content>
</mat-card>
