<mat-card>
  <mat-card-title>
    Detalle de pedido
  </mat-card-title>

  <mat-card-content>
    <mat-grid-list cols="6">
      <mat-grid-tile [colspan]="3" [rowspan]="3">
        <mat-vertical-stepper [linear]=true #stepper>
          <mat-step label="Envío" [stepControl]="regiForm">
            <form [formGroup]="regiForm" (ngSubmit)="onFormSubmit(regiForm.value,fechaHoraForm.value,pagosForm.value)">
              <table>
                <tr>
                    <td>
                      <mat-form-field class="demo-full-width" style="width:150px !important">
                                             <textarea formControlName="calle" matInput placeholder="Calle" matTextareaAutosize
                                                       matAutosizeMaxRows="5">
                                             </textarea>
                      </mat-form-field>
                      <mat-icon color="primary">place</mat-icon>
                      <mat-error>
                        <span color="warm" *ngIf="!regiForm.get('calle').valid && regiForm.get('calle').touched">Por favor, ingresá el nombre de la calle</span>
                      </mat-error>
                    </td>
                    <td>
                      <mat-form-field class="demo-full-width" style="width:90px !important">
                        <textarea formControlName="numeracion" matInput placeholder="Numeración" matTextareaAutosize>
                        </textarea>
                      </mat-form-field>
                      <mat-error>
                            <span color="warm"
                                  *ngIf="!regiForm.get('numeracion').valid && regiForm.get('numeracion').touched">Por favor, ingresá la numeración</span>
                      </mat-error>
                    </td>
                    <td>
                      <mat-form-field class="demo-full-width" style="width:90px !important">
                           <textarea formControlName="piso" matInput placeholder="Piso" matTextareaAutosize
                                     matAutosizeMaxRows="5">
                          </textarea>
                      </mat-form-field>
                      <mat-error>
                            <span color="warm" *ngIf="!regiForm.get('piso').valid && regiForm.get('piso').touched">Por favor, ingresá un piso válido</span>
                      </mat-error>
                    </td>
                    <td>
                      <mat-form-field class="demo-full-width" style="width:90px !important">
                           <textarea formControlName="dpto" matInput placeholder="Departamento" matTextareaAutosize
                                     matAutosizeMaxRows="5">
                          </textarea>
                      </mat-form-field>
                      <mat-error>
                            <span color="warm"  *ngIf="!regiForm.get('dpto').valid && regiForm.get('dpto').touched">Por favor, ingresá un departamento válido</span>
                      </mat-error>
                    </td>
                <tr>
                  <td>
                    <mat-slide-toggle formControlName="esYa" (change)="fechaHoraEspecifica($event)" >
                      Lo antes posible
                    </mat-slide-toggle>
                  </td>
                </tr>
                <tr><br></tr>
                <form [formGroup]="fechaHoraForm" >
                  <tr *ngIf="esYa == 0">
                        <mat-form-field class="demo-full-width">
                          <input formControlName="fechaEntrega" matInput [matDatepicker]="picker"
                                 placeholder="Fecha de entrega" [min]="today">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker touchUi="true" #picker></mat-datepicker>
                        </mat-form-field>
                        <mat-error>
                          <span *ngIf="!fechaHoraForm.get('fechaEntrega').valid && fechaHoraForm.get('fechaEntrega').touched">Por favor, seleccioná una fecha</span>
                        </mat-error>
                        <mat-form-field>
                          <input matInput formControlName="horaEntrega" placeholder="Hora" type="time" id="appt-time"
                                 name="appt-time"
                                 min="08:00" max="20:00" required/>
                        </mat-form-field>
                        <mat-error>
                          <span *ngIf="!fechaHoraForm.get('horaEntrega').valid && fechaHoraForm.get('horaEntrega').touched">Por favor, seleccioná una hora</span>
                        </mat-error>

                  </tr>
                </form>
              </table>
            </form>
            <button mat-raised-button matStepperNext
                    [disabled]="!regiForm.get('calle').valid || !regiForm.get('numeracion').valid || esYa==0 && (!fechaHoraForm.get('fechaEntrega').valid || !fechaHoraForm.get('horaEntrega').valid)">
              Siguiente
            </button>
          </mat-step>
          <mat-step label="Pago" [stepControl]="pagosForm">
            <div [formGroup]="pagosForm" (ngSubmit)="onFormSubmit(pagosForm.value)">
              <table>
                <tr>
                  <td>
                    <mat-form-field>
                      <mat-select formControlName="formaPago" placeholder="Forma de pago"
                                  (valueChange)="iniciarValidadoresTarjeta($event)">
                        <mat-option>-- Seleccionar --</mat-option>
                        <mat-option value="usaEfectivo">Efectivo</mat-option>
                        <mat-option value="usaTarjeta">Tarjeta de crédito</mat-option>
                      </mat-select>
                      <mat-hint>Tarjetas únicamente VISA</mat-hint>
                      <mat-error>
                <span
                  *ngIf="!pagosForm.get('formaPago').valid && pagosForm.get('formaPago').touched">Por favor, seleccioná una forma de pago.</span>
                      </mat-error>
                    </mat-form-field>
                  </td>
                </tr>
                <tr><br></tr>
                <tr *ngIf="pagosForm.get('formaPago').value=='usaEfectivo'">
                  <mat-form-field class="demo-full-width">
                    <input formControlName="pagoCon" matInput placeholder="¿Con cuánto vas a pagar?" type="number"
                           required>
                  </mat-form-field>
                  <mat-icon color="primary">attach_money</mat-icon>

                  <mat-error>
                    <span *ngIf="!pagosForm.get('pagoCon').valid && pagosForm.get('pagoCon').touched">Por favor, ingresá la cantidad con la que vas a abonar</span>
                  </mat-error>
                  <!--</td>-->
                </tr>
                <div formGroupName="cardForm">
                  <tr *ngIf="pagosForm.get('formaPago').value=='usaTarjeta'">

                    <mat-form-field class="demo-full-width">

                      <input matInput formControlName="numeroTarjeta" placeholder="Número de tarjeta"
                             autocomplete="cc-number"
                             id="cc-number" ccNum>

                    </mat-form-field>
                    <mat-icon color="primary">credit_card</mat-icon>

                    <mat-error>
                      <span *ngIf="!pagosForm.get('cardForm').get('numeroTarjeta').valid && pagosForm.get('cardForm').get('numeroTarjeta').touched">Por favor, ingresá el número de tu tarjeta VISA</span>
                    </mat-error>
                    <!--</td>-->
                  </tr>
                  <tr *ngIf="pagosForm.get('formaPago').value=='usaTarjeta'">
                    <!--<td colspan="2">-->
                    <mat-form-field class="demo-full-width">

                      <input matInput formControlName="nombreTarjeta" placeholder="Nombre del titular"
                             autocomplete="cc-number">

                    </mat-form-field>
                    <mat-icon color="primary">perm_identity</mat-icon>

                    <mat-error>
                      <span *ngIf="!pagosForm.get('cardForm').get('nombreTarjeta').valid && pagosForm.get('cardForm').get('nombreTarjeta').touched">Por favor, ingresá el nombre como figura en la tarjeta</span>
                    </mat-error>
                  </tr>
                  <tr *ngIf="pagosForm.get('formaPago').value=='usaTarjeta'">

                    <mat-form-field class="demo-full-width">

                      <input matInput type="tel" formControlName="fechaExp" placeholder="MM/YY" autocomplete="cc-exp"
                             id="cc-exp"
                             ccExp>

                    </mat-form-field>
                    <mat-icon color="primary">insert_invitation</mat-icon>

                    <mat-error>
                      <span *ngIf="!pagosForm.get('cardForm').get('fechaExp').valid && pagosForm.get('cardForm').get('fechaExp').touched">Por favor, ingresá la fecha de expiración de tu tarjeta</span>
                    </mat-error>
                    <!--</td>-->
                  </tr>
                  <tr *ngIf="pagosForm.get('formaPago').value=='usaTarjeta'">
                    <!--<td colspan="2">-->
                    <mat-form-field class="demo-full-width">

                      <input matInput formControlName="codigoSeg" placeholder="Clave de seguridad" autocomplete="cc-cvc"
                             id="cc-csc" ccCvc>

                    </mat-form-field>
                    <mat-icon color="primary">lock_open</mat-icon>

                    <mat-error>
                      <span *ngIf="!pagosForm.get('cardForm').get('codigoSeg').valid && pagosForm.get('cardForm').get('codigoSeg').touched">Por favor, ingresá el código de seguridad de tu tarjeta</span>
                    </mat-error>
                    <!--</td>-->
                  </tr>
                  <td colspan="2" class="content-center">
                    <button matStepperNext mat-raised-button color="accent" [disabled]="!pagosForm.get('cardForm').valid || !pagosForm.valid ">
                      Siguiente
                    </button>
                  </td>

                </div>

              </table>
            </div>
          </mat-step>

          <mat-step label="Confirmación">
            <form [formGroup]="confirmationForm" (ngSubmit)="onFormSubmit(regiForm.value)">
              <table>
                <tr><br></tr>
                <tr>
                  <b>Envío</b>
                </tr>
                <tr><i>Dirección: </i>{{regiForm.get('calle').value}} {{regiForm.get('numeracion').value}} {{regiForm.get('piso').value}} {{regiForm.get('dpto').value}}
                </tr>
                <tr *ngIf="esYa == 0">
                  <i>Fecha: </i>{{fechaHoraForm.get('fechaEntrega').value | date:'MM/dd/yyyy'}}
                  <br><i>Hora: </i>{{fechaHoraForm.get('horaEntrega').value}}<br>
                </tr>
                <tr><br></tr>
                <tr><b>Pago</b></tr>
                <tr><i>Forma de pago: </i>
                  <span *ngIf="pagosForm.get('formaPago').value == 'usaEfectivo'">Efectivo<br>
                  <i>Abona con: </i>${{pagosForm.get('pagoCon').value}}
                  <br>
                    <i>Tu vuelto: </i>${{pagosForm.get('pagoCon').value - getTotalCost()}}
                  </span>
                  <span *ngIf="pagosForm.get('formaPago').value == 'usaTarjeta'">Tarjeta de crédito VISA
                    <br>
                    <i>Número Tarjeta: </i>{{pagosForm.get('cardForm').get('numeroTarjeta').value}}
                    <br>
                    <i>Titular: </i>{{pagosForm.get('cardForm').get('nombreTarjeta').value}}
                    <br>
                    <i>Monto: $</i>{{getTotalCost()}}
                  </span>

                </tr>
                <tr><br></tr>

                <tr>
                  <td colspan="2" class="content-center">
                    <button mat-raised-button color="accent"
                            (click)="openSnackBar()"
                            [disabled]="!regiForm.valid || (!pagosForm.controls.cardForm.valid && formaPago==='usaTarjeta')"
                            matStepperNext>
                      Confirmar Pedido
                    </button>
                  </td>
                </tr>
              </table>
            </form>

          </mat-step>

        </mat-vertical-stepper>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3" [rowspan]="2">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Caseratto</mat-card-title>
            <mat-card-subtitle>Helados</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <table mat-table [dataSource]="pedidoHard" class="mat-elevation-z8">
              <!-- Item Column -->
              <ng-container matColumnDef="item">
                <th mat-header-cell *matHeaderCellDef> Producto</th>
                <td mat-cell *matCellDef="let transaction"> {{transaction.item}}</td>
                <td mat-footer-cell *matFooterCellDef> Total</td>
              </ng-container>

              <!-- Cost Column -->
              <ng-container matColumnDef="cost">
                <th mat-header-cell *matHeaderCellDef> Precio</th>
                <td mat-cell *matCellDef="let transaction"> {{transaction.cost | currency}}</td>
                <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}}</td>
              </ng-container>

              <ng-container matColumnDef="notas">
                <th mat-header-cell *matHeaderCellDef> Notas</th>
                <td mat-cell *matCellDef="let transaction"> {{transaction.notas | currency}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
            </table>
          </mat-card-content>

        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="6" [rowspan]="1">
      </mat-grid-tile>

    </mat-grid-list>
  </mat-card-content>
</mat-card>
