<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step>
    <ng-template matStepLabel>Comercios</ng-template>
    <form [formGroup]="regiForm">


      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
      <mat-form-field
        [hideRequiredMarker]="options.value.hideRequired">
        <mat-select required>
          <mat-option>-- None --</mat-option>
          <mat-option value="option">Option</mat-option>
        </mat-select>
        <mat-label>Forma de pago</mat-label>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Amount" type="number" class="example-right-align">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
      </mat-form-field>
    </form>
    <div class="mat-action-row">
    </div>
    <!--<mat-form-field>-->
    <!--<input matInput placeholder="algo" formControlName="firstCtrl" required>-->
    <!--</mat-form-field>-->
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
    <!--</form>-->
  </mat-step>
  <mat-step>
    <!--[stepControl]="secondFormGroup">-->
    <!--<form [formGroup]="secondFormGroup">-->
    <ng-template matStepLabel>Productos</ng-template>
    <app-comercio (seleccionComercio)="seleccionComercio($event)"></app-comercio>

    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
    <!--</form>-->
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <app-producto *ngIf="comercioSeleccionado" [comercioId]="comercioSeleccionado"
                  (seleccionProducto)="seleccionProducto($event)"></app-producto>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>


<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
