@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #f0f0f0;
  font-family: Roboto, 'Helvetice New', 'Arial', sans-serif
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

div.container {
  margin: 0px 40px;
}

.fill-remainging-space {
  flex: 1 1 auto;
}

.normal-form {
  margin: 10px;
}

.example-card {
  width: 30vw;

}

.mat-icon {
  font-size: 1.2em;
}

.example-header-image {
  background-image: url("src/app/img/caseratto.jpg");
  background-size: cover;
}

table {
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}

.material-confirmation-icon {
  color: #00C853;
  font-size: 15vw;
}

agm-map {
  height: 300px;
}

