<mat-toolbar color="primary">
  <span class="fill-remainging-space"></span>
  <span>Producto</span>
  <span class="fill-remainging-space"></span>
</mat-toolbar>
<mat-grid-list cols=2>

  <mat-grid-tile *ngFor="let producto of productos">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{producto.nombre}}</mat-card-title>
        <mat-card-subtitle>{{producto.categoria}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="producto.imagenPath" alt="Kilo de helado">
      <mat-card-content>
        <p>
          {{producto.descripcion}} </p>
      </mat-card-content>
      <!--<form >-->

      <!--<mat-form-field >-->
      <!--<input matInput placeholder="¿Qué gustos?"  required>-->
      <!--</mat-form-field>-->
      <!--</form>-->
      <mat-card-actions>
        <button mat-button (click)="seleccionarProducto(producto)">SELECCIONAR</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
